body {
	font-family: "Arial", Verdana, sans-serif;
}

label{
	display:inline-block;
	width: 80px;
}

input{

}

form{
	border:none;
}

.container-fluid {
	overflow: hidden;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#left_column {
	height: 93vh;
}

#chat_screen {
	height: 93vh;
}

#currentChatInfo {
	height: 29vh;
	background-color: #e62739;
}

#currentUsername {
	text-align: center !important;
	line-height: 20px;
}

#ownAvatar {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-size: 100% 100%;
	background-image: url(../Avatar/test.png);
	background-color: lightblue;
}

#deconnectButton {
	margin-top: 5px;
}

#logout {
    font-weight: bold;
    border-radius: 5px;
}

#availableConvos {
	height: 64vh;
	border: solid 1px blue;
	background-color: #9068be;
	overflow: auto;
}

.list-group {
	text-align: left
}

.names {
	background-color: #AE73E7;
}

#messages {
	height: 75vh;
	border: solid 2px pink;
	overflow-y: scroll;
	overflow-x: hidden;
	/*display: flex;
	flex-direction: column-reverse;*/
}

#infoContact {
	height: 9vh;
	border: solid 1px red;
	background-color: rgba(255, 0, 21, 0.51); 
}

#smallAvatar {
	border: solid 1px blue;
	border-radius: 50%;
	height: 100%;
	width: 9vh;
	background-image: url(Logos/2_Flat_logo_on_transparent_124x73.png);
}

#usernameContact {
	height: 100%;
	line-height: 9vh;
	text-align: center;
}

.message {
	background-color: #e1e8f0;
	border-color: rgba(112, 116, 120, 0.57);
	word-wrap: break-word;
}

#typingArea {
	height: 9vh;
	border: solid 2px orange;
}

#textareaContainer {
	height: 100%;
	padding: 0;
}

#newMessage {
	height: 100%;
	width: 100%;
	resize: none;
	background-color: rgba(110, 211, 207, 0.36);
}

#sendContainer {
	height: 100%;
	padding: 0;
}

#messageForm {
	height: 100%;
}

#sendButton {
	height: 100%;
	width: 100%;
	background-color: rgba(110, 211, 207, 0.36);
}

#usernameList {
	border: none;
	background: none;
	width: 100%;
	height: 100%;
}

.sender {
	color: grey;
	font-size: 120%;
}

.message {
	font-size: 120%;
}

br {
	display: block;
	margin: 1px 0;
}

.timestamp {
	text-align: right;
}